/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "rgbapng";

body {
	background-color:#fff;
	font-family:  'Conv_Share-Regular', Sans-Serif; 
  line-height: 22px; 
  font-size: 14px;
	margin:0; padding:0;
  overflow: hidden;
}
#map { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

h1 { font-size: 24px; padding: 30px 0 15px 0; }
h2 { font-size: 16px; line-height: 20px; padding-top: 20px; }
h2 span { font-size: 12px; }

a { color: #000; text-decoration: underline; }
strong { font-family:  'Conv_Share-Bold', Sans-Serif; }

.overlay { 
  position: absolute; 
  right: 0; 
  top: 0; 
  width: 330px; 
  height: 100%;
  background-color: #fff; 
  @include rgba-background(rgba(255,255,255,0.85));
  overflow: auto;
}
.overlay .content { padding: 15px; }
.overlay .twitter-timeline { padding-top: 20px; }
.overlay .footer { padding-top: 20px; font-size: 12px; }