/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Users/jh/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../Users/jh/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../Users/jh/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../Users/jh/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../Users/jh/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../Users/jh/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../Users/jh/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../Users/jh/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../Users/jh/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912 rgba-background mixin can now be passed an option $dir variable
*/
/* line 9, ../sass/screen.scss */
body { background-color: #fff; font-family: 'Conv_Share-Regular', Sans-Serif; line-height: 22px; font-size: 14px; margin: 0; padding: 0; overflow: hidden; }

/* line 17, ../sass/screen.scss */
#map { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

/* line 19, ../sass/screen.scss */
h1 { font-size: 24px; padding: 30px 0 15px 0; }

/* line 20, ../sass/screen.scss */
h2 { font-size: 16px; line-height: 20px; padding-top: 20px; }

/* line 21, ../sass/screen.scss */
h2 span { font-size: 12px; }

/* line 23, ../sass/screen.scss */
a { color: #000; text-decoration: underline; }

/* line 24, ../sass/screen.scss */
strong { font-family: 'Conv_Share-Bold', Sans-Serif; }

/* line 26, ../sass/screen.scss */
.overlay { position: absolute; right: 0; top: 0; width: 330px; height: 100%; background-color: #fff; background: url('/img/rgbapng/ffffffd9.png?1371046997'); background: rgba(255, 255, 255, 0.85); overflow: auto; }

/* line 36, ../sass/screen.scss */
.overlay .content { padding: 15px; }

/* line 37, ../sass/screen.scss */
.overlay .twitter-timeline { padding-top: 20px; }

/* line 38, ../sass/screen.scss */
.overlay .footer { padding-top: 20px; font-size: 12px; }
